<section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                    <div class="col-md-3 " style="margin-top:2px">
                        <div class="card " style="width: 18rem;">
                            <img class="card-img-top" style="height: 250px; " src="/product-images/{{this._id}}.jpg" alt="Card image cap">
                            <div class="card-body">
                                    <h5 class="card-title">{{this.Name}}</h5>
                                    <p class="card-text">{{this.Descrption}}</p>
                                    <h6 class="card-price">{{this.Price}}</h6>                                    <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                            </div>
                        </div>
                   </div>  
                {{/each}}              
            </div>
        </div>
</section>
